.btn {
  @apply p-4 inline-flex cursor-pointer items-center justify-center gap-2 text-center duration-500 text-xs font-medium rounded-lg text-nowrap;

  &--default {
    @apply bg-primary-button text-white;
  }

  &--secondary {
    @apply bg-secondary-button text-text;
  }

  &--outline {
    @apply border border-primary-button text-primary-button;
  }
}

.link {
  @apply text-lg font-bold underline;
}

.accordion-item {
  .accordion-trigger {
    .accordion-trigger-icon {
      position: relative;
      height: 20px;
      width: 20px;

      &-line {
        @apply absolute w-full h-0.5 transform bg-text transition-[background-color,transform];
        top: 50%;
        transform: translate(-50%);

        transition:
          background-color 0.5s,
          transform 0.5s;

        &:nth-child(1) {
          transform: rotate(180deg);
        }

        &:nth-child(2) {
          transform: rotate(270deg);
        }
      }
    }

    &[data-state="open"] {
      .accordion-trigger-icon-line {
        @apply bg-white;
        &:nth-child(1) {
          transform: rotate(0deg);
        }

        &:nth-child(2) {
          transform: rotate(-0deg);
        }
      }
    }
  }

  &:hover {
    .accordion-trigger-icon-line {
      @apply bg-white;
    }
  }
}
