.btn {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 text-center duration-500 text-base font-medium font-body rounded-lg text-nowrap;

  line-height: 120%;
  letter-spacing: 0.005em;

  &--header-size {
    height: 35px;
    font-size: var(--text-xs);
    padding: 0 15px;
  }

  &--default-size {
    @apply h-[44px] lg:h-auto p-[20px] lg:py-[20px] lg:px-[35px];
  }

  &--icon-size {
    padding: 0;
    height: 35px;
    width: 35px;
  }

  &--default {
    @apply bg-primary-button text-white hover:bg-button-hover;
  }

  &--secondary {
    @apply bg-text text-background hover:bg-button-hover hover:text-white;
  }

  &--outline {
    @apply border border-text/20 hover:bg-text hover:text-background transition-colors text-text;
  }

  &--inline {
    @apply bg-transparent text-primary-button font-bold;
  }

  &--header {
    @apply bg-white text-bottle-green lg:bg-primary-button lg:text-white lg:hover:bg-background lg:hover:text-primary-button;
  }
}

.link {
  @apply text-lg font-bold underline;
}

.submit-button {
  @apply bg-primary-button text-white font-medium justify-start p-4 rounded-lg duration-500 cursor-pointer;

  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  span {
    @apply w-full text-left;
  }
}
.accordion-item {
  .accordion-trigger {
    .accordion-trigger-icon {
      position: relative;
      flex-shrink: 0;

      @apply h-[14px] w-[14px] lg:h-[20px] lg:w-[20px];

      &-line {
        @apply absolute w-full h-0.5 transform bg-text transition-[background-color,transform];
        top: 50%;
        transform: translate(-50%);

        transition:
          background-color 0.5s,
          transform 0.5s;

        &:nth-child(1) {
          transform: rotate(180deg);
        }

        &:nth-child(2) {
          transform: rotate(270deg);
        }
      }
    }

    &[data-state="open"] {
      .accordion-trigger-icon-line {
        @apply lg:bg-white;
        &:nth-child(1) {
          transform: rotate(0deg);
        }

        &:nth-child(2) {
          transform: rotate(-0deg);
        }
      }
    }
  }

  &:hover {
    .accordion-trigger-icon-line {
      @apply lg:bg-white;
    }
  }
}
