#navbar,
.header-skeleton {
  @apply text-nav-bar-text text-xs;

  position: fixed;
  z-index: 999;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px 5px 5px 20px;
  border-radius: 10px;
  font-weight: 500;

  transition: all 0.5s ease-in-out;
}

#mobile-navbar {
  @apply text-nav-bar-text text-xs;

  nav {
    height: 66px;
    padding: 5px 5px 5px 20px;
  }

  position: fixed;
  overflow: hidden;
  z-index: 999;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 10px;
  font-weight: 500;
  width: calc(100% - 2rem);
}

.navbar-backdrop-mobile {
  @apply bg-nav-bar-background/20 backdrop-blur-lg;

  position: absolute;
  z-index: -1;
  inset: 0;
  pointer-events: none;
}

.navbar-backdrop-desktop {
  @apply bg-nav-bar-background/20 backdrop-blur-lg;

  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 10px;

  pointer-events: none;
}

.menu-trigger-btn {
  height: 42px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    @apply relative;

    width: 30px;
    height: 17px;
    display: block;
  }

  .menu-trigger-btn-line {
    @apply bg-nav-bar-text absolute;

    width: 30px;
    height: 1px;
    display: block;
  }
}
