.featured-projects-swiper {
  overflow: visible !important;
  .swiper-wrapper {
    overflow: visible;
  }
}

.splide {
  .splide__track {
    overflow: visible;
    .splide__list {
      overflow: visible;
    }
  }
}
