:root {
  --colour-background: 256, 256, 256;
  --colour-text: 36, 41, 26;
  --colour-primary-button: 256, 256, 256;
  --colour-secondary-button: 36, 41, 26;
  --colour-nav-bar-background: 256, 256, 256;
  --colour-nav-bar-text: 36, 41, 26;

  --bottle-green: 36, 41, 26;
}
